---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import SectionDivider from '../components/SectionDivider.astro';
import Values from '../components/Values.astro';
import Services from '../components/Services.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
---

<Layout>
	<Navbar />
	<main>
		<Hero />
		<About />
		<SectionDivider />
		<Values />
		<Services />
		<Contact />
	</main>
	<Footer />
</Layout>

<style>
	main {
		width: 100%;
	}
</style>
